/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  */
:root {
  --bg-color:#198754; 
  --text-color: black;
  --button-bg: #63ab45;
  --registration: rgb(185, 255, 175);
  --login-bg: #266d54;
}

html.dark {
  --bg-color: #07160e;
  --text-color: #f2f2f2;
  --button-bg: #0a221d;
  --registration: #172b13;
  --login-bg: #2f5c4c;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #6eff69;
  text-decoration: inherit;
}
.form__registration{
    background-color: var(--registration);
    padding: 30px;
}
.login__block{
  background-color: var(--login-bg);
}
main{
  margin-top: 300px;
  margin-bottom: 300px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--button-bg);
  color: #ffffff;
}
button:hover {
  border-color: #dde6da;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
 a:hover {
    color: #112716;
  }
