
.destination-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #92a498;
    background: #232c26;
    max-width: max-content;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #92a498;
    position: relative;
}
.ratting{
    background: #cbffbe;
    width: max-content;
    padding: 3px;
    color: rgb(0, 0, 0);
    rotate: -25deg;
    position: absolute;
}
.icon__img{
    width: 30px;
    height: 30px;
}
.main__img{
    width: 300px;
    aspect-ratio: 1/1;
}
.destination-item:hover .image img {
    transform: scale(1.1);
}
.destination-item .image img {
    transition: .5s;
}
