#root {
  margin: 0 auto;
  text-align: center;
}
 
 html, body {
  font-family: 'Sour Gummy';
  font-style: normal;
  font-weight: 400;
  background-color: #198754; 
  padding: 0;
  margin: 0;
} 

main{
  padding-top: 30px;
}
h3:hover{
  background-color: #292f2a6c;
  transition: background-color 1s ease-in-out;
} 

 h3{
  text-transform: uppercase;
  font-size: 2em;
  padding: 10px;
} 

@keyframes animate {
  0% {
    background-position: -400%;
  }
  100% {
    background-position: 400%;
  }
}

#hero{
  width: 90%;
  height: auto;
  border-radius: 15px;
}