#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body {
  font-family: 'Sour Gummy';
  font-style: normal;
  font-weight: 400;
  background-color: #2e3b51;
}

h3:hover{
  background-color: #55637f;
  padding: 15px;
  transition: background-color 5s ease-out;
} 

 h3{
  text-transform: uppercase;
  font-size: 2em;
} 

@keyframes animate {
  0% {
    background-position: -400%;
  }
  100% {
    background-position: 400%;
  }
}

