.mini-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center !important
}

.mini-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e5c3f;
    padding: 20px;
}

.mini-card img {
    margin: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    width: 170px;
    aspect-ratio: 1/1;
}