footer {
  background-color: rgb(38, 62, 27);
  width: 100%;
  padding: 0;
  margin: 0;
  padding: 30px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
}

.footer__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.block__1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line, .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 20px;
}

li {
  list-style-type: none;
}

.items img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
#last-footer-img{
  width: 80%;
}